@page
@model LoginModel

@{
    ViewData["Title"] = "Log in";
}

<style>
    body {
        background-color: #f8f9fa;
    }

    .card {
        border: none;
        box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
        max-width: 900px;
    }

    .card-img {
        border-top-left-radius: 0.25rem;
        border-bottom-left-radius: 0.25rem;
        height: 100%;
        width: 100%;
        object-fit: cover;
    }
</style>

<div class="container h-100 d-flex flex-column justify-content-center align-items-center vh-100">
    <div class="row">
        <div class="col-lg-8">
            <div class="card">
                <div class="row g-0">
                    <div class="col-md-6 card-img-container">
                        <img src="~/images/law.jpg" class="img-fluid rounded-start card-img" alt="Sign In Image">
                    </div>
                    <div class="col-md-6">
                        <div class="card-body">
                            <h2 class="card-title text-center mb-4">Sign In</h2>
                            <form id="account" method="post">
                                <div class="mb-3">
                                    <label for="email" class="form-label">Email address</label>
                                    <input asp-for="Input.Email" class="form-control" autocomplete="username" aria-required="true" />
                                    <span asp-validation-for="Input.Email" class="text-danger"></span>

                                </div>
                                <div class="mb-3">
                                    <label for="password" class="form-label">Password</label>
                                    <input asp-for="Input.Password" class="form-control" autocomplete="current-password" aria-required="true" />
                                    <span asp-validation-for="Input.Password" class="text-danger"></span>
                                </div>
                                <div>
                                    <div class="checkbox">
                                        <label asp-for="Input.RememberMe" class="form-label">
                                            <input class="form-check-input" asp-for="Input.RememberMe" />
                                            @Html.DisplayNameFor(m => m.Input.RememberMe)
                                        </label>
                                    </div>
                                </div>
                                <button id="login-submit" type="submit" class="w-100 btn btn-lg btn-primary">Log in</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@* <div class="row">
    <div class="col-md-4">
        <section>
            <form id="account" method="post">
               
                <hr />
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-floating">
                    <input asp-for="Input.Email" class="form-control" autocomplete="username" aria-required="true" />
                    <label asp-for="Input.Email" class="form-label"></label>
                    <span asp-validation-for="Input.Email" class="text-danger"></span>
                </div>
                <div class="form-floating">
                    <input asp-for="Input.Password" class="form-control" autocomplete="current-password" aria-required="true" />
                    <label asp-for="Input.Password" class="form-label"></label>
                    <span asp-validation-for="Input.Password" class="text-danger"></span>
                </div>
                <div>
                    <div class="checkbox">
                        <label asp-for="Input.RememberMe" class="form-label">
                            <input class="form-check-input" asp-for="Input.RememberMe" />
                            @Html.DisplayNameFor(m => m.Input.RememberMe)
                        </label>
                    </div>
                </div>
                <div>
                    <button id="login-submit" type="submit" class="w-100 btn btn-lg btn-primary">Log in</button>
                </div>
                <div>
                   
                </div>
            </form>
        </section>
    </div> *@


@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
